
// Colors
$dark-blue: #0d3244;
$light-blue: #074a5f;
$white: #ffffff;
$blue-gray: #f7fafc;
$green: #47b083;
$grey-border: #d0d8df;
$grey-text: #9ba0a7;
$cyan: #0e99b9;
$blue: #98c1f6;
$blue-button: #4597b5;
