.content {
	background: $blue-gray;
	color: $dark-blue;
	display: flex;
	flex-basis: auto;
	flex-direction: column;
	flex-grow: 1;
	flex-shrink: 1;
	margin: 0px;
	max-width: 100%;
  padding: 24px 20px;
	text-size-adjust: 100%;
	width: 800px;
	& p{
		font-weight: 600;
    font-size: 14px;
    color: $grey-text;
    font-family: 'Quantico';
    text-transform: uppercase;
    padding-top: 10px;
  }
	& .product-data{
	    background: white;
	    margin-top: 20px;
	    border: 1px solid $grey-border;
	    & .table-footer{
	      background: $table-footer;
	    }
	  & .table-header{
	    padding: 15px;
	    span{
	      color: $dark-blue;
	      font-weight: bolder;
	      font-family: 'Quantico';
	      display: inline-block;
	    }
	    & .expand{
	      float: right;
	      a{
	        text-decoration: none;
	        color: #0096b9;
	        font-weight: bolder;
	      }
	    }
	  }
	  & .table-footer{
			font-weight: 700;
	    font-size: 12px;
	    color: $dark-blue;
	    height: 30px;
	    padding: 8px;
	    text-transform: uppercase;
	  }
	}
}

table {
	height: 100%;
	background-color: $white;
	margin: 0;
	border-spacing: 0;
	display: block;
	overflow-x: auto;
	overflow-y: scroll;
	white-space: nowrap;
	tr:first-child {
		font-size: 13px;
		border: solid 1px $grey-border;
		background-color: $blue-gray;
		th {
			padding: 10px;
			border-top: solid 1px $grey-border;
			border-bottom: solid 1px $grey-border;

		}
	}
	td {
		padding: 4px 10px;
		font-size: 12px;
		border-bottom: solid 1px $grey-border;
	}
}
