.title-header {
	&.show {
		font-family: 'Quantico';
		background-color: $light-blue;
		color: $white;
		display: flex;
		align-items: center;
		& .avatar {
			width: 45px;
			padding: 10px 0;
			justify-content: center;
			margin: 0 10px 0 10px;
		}
		& span {
			font-size: 18px;
			font-weight: 400;
			padding: 15px 0;
			justify-content: center;
		}
		& .left-arrow {
			font-family: 'Source Sans Pro';
			& a {
				color: $white;
				text-decoration: none;
				margin: 0 10px 0 20px;
				padding: 0;
				font-size: 50px;
			}
		}
	}
}
