
aside {
	width: 360px;
	box-sizing:border-box;
	display:flex;
	flex-basis: 360px;
	flex-grow: 0;
	flex-shrink: 0;
	margin:  0px;
	padding: 0px;
	transition-delay: 0s;
	transition-duration: 1s;
	transition-property: width;
	transition-timing-function: ease;
	-webkit-font-smoothing: antialiased;
}
