<h3>Dataset Name</h3>

{{#each products as |product|}}
  <h4>{{link-to product.name 'products.show' product.id}}</h4>

  <table>
		<tr>
			{{#each-in product.productDataSubset.[1] as |key|}}
				<th>{{key}}</th>
			{{/each-in}}
		</tr>
    {{#each product.productDataSubset as |data|}}
      <tr>
				{{#each-in data as |key value|}}
				<td>{{value}}</td>
			{{/each-in}}
      </tr>
    {{/each}}
  </table>
{{/each}}
{{outlet}}
