<nav>
	<div class="left-nav">
		<a href="#"><span class="glyphicon glyphicon-nav" aria-hidden="true"></span></a>
		<a href="#">Alternative Data</a>
		<a href="#" class="active">Core Financial Data</a>
	</div>
	<div class="center-nav"><a href="#"><img src='../assets/quandl-logo.svg' class="logo"></a></div>
	<div class="right-nav">
		<a href="#">Docs & Help</a>
		<a href="#">Blog</a>
		<a href="#">Sign In</a>
	</div>
</nav>
<div class="title-header">
	<img src="../assets/avatar.png" class="avatar" />
	<span class="title">Data Publisher</span>
</div>

{{outlet}}
