<nav>
	<div class="left-nav">
		<a href="#"><span class="glyphicon glyphicon-nav" aria-hidden="true"></span></a>
		<a href="#">Alternative Data</a>
		<a href="#" class="active">Core Financial Data</a>
	</div>
	<div class="center-nav"><img src='../assets/quandl-logo.svg' class="logo"></div>
	<div class="right-nav">
		<a href="#">Docs & Help</a>
		<a href="#">Blog</a>
		<a href="#">Sign In</a>
	</div>
</nav>


{{outlet}}
